* {
    font-family: 'Poppins';
}

.i {
    display: flex;
    height: 100vh;
}

.i_left {
    flex: 1;
}

.i_right {
    flex: 1;
}

.i_left_wrapper {
    padding: 50px;
}

.i_intro {
    font-size: 30px;
    font-weight: 300;
}

.i_name {
    font-size: 60px;
}

.i_title {
    height: 50px;
    overflow: hidden;
}

.i_title_item {
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(173, 143, 255);
    display: flex;
    align-items: center;
}

.i_title_wrapper {
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
    25% {
        transform: translateY(-50px);
    }
    50% {
        transform: translateY(-100px);
    }
    75% {
        transform: translateY(-150px);
    }
    100% {
        transform: translateY(-200px);
    }
}
