* {
    font-family: 'Poppins';
}

.i {
    display: flex;
    height: 100vh;
}

.i_left {
    flex: 1;
}

.i_right {
    flex: 1;
}

.i_left_wrapper {
    padding: 50px;
}

.i_intro {
    font-size: 30px;
    font-weight: 300;
}

.i_name {
    font-size: 60px;
}

.i_title {
    height: 50px;
    overflow: hidden;
}
